div.card {
    width: 1050px;
}

#graph {
    position: relative;
    width: 1000px;
    padding-bottom: 3em;
}

#graph img{
    height: auto;
    width: 100%;
}

#graph p {
    position: absolute;
    width: 50px;
    text-align: center;
}

#line {
    position: absolute;
    height: 330px;
    top: 25px;
    border-left: 6px solid green;
}
